<ul id="list" class="pure-u-1" data-bind="foreach: items">
    <li class="email-item pure-g">
        <div class="pure-u">
            <img width="64" height="64" class="email-avatar" data-bind="attr:{src: $data.member.avatar_normal}">
        </div>

        <div class="pure-u-3-4">
            <h5 class="email-name" data-bind="text: $data.title"></h5>
            <h4 class="email-subject" data-bind="text: $data.subject"></h4>
            <p class="email-desc" data-bind="text: $data.desc"></p>
        </div>
    </li>
</ul>